@mixin a4size-container{
    border: 1px blue solid;
    position: relative;
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 0mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    // padding: 25px 45px 40px;
    // padding: {top bottom} {left right}
}

@mixin report-title-common-font {
    font-family: "Montserrat";
    font-style: normal;
    color: #292D30;
}

@mixin lobe-table-box {
    padding: 14px;
    display: flex;
    width: 470px;
    margin-left: 78px;
    border-bottom: 0.2px solid rgba(196, 196, 196, 0.3);
}

@mixin lobe-img-name{
        >img{
            //margin-left: 42px;
            width: 78px;
            height: 66.4;
            left: 93px;
            top: 257px;
        }
        >div{
            
            //margin-left: 42px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            //line-height: 11px;
            /* identical to box height */
            text-align: center;
            color: #292D30;
        }
    
}

@mixin result-number-box{
    margin-left: 200px;
    padding:6px;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
    
    >div:nth-child(1){
        border-left:8px #FF3D3D solid;
        margin-bottom: 3px;
    }
    >div:nth-child(2){
        margin-left: 15px;
        border-left: 8px  #A50021 solid;
    }
}

@mixin footer{

}

@mixin main-title{
    border-left: 6px solid #5A7AB5;
    padding-left: 22px;
    width: 100%;
    height: 100%;
    position: sticky;
    @include report-title-common-font();
    >div:nth-child(1){
        font-weight: bold;
        font-size: 36px;
    }
     >div:nth-child(2){
        font-weight: normal;
        font-size: 20px;
    }
}

@mixin small-title{
    display: flex;
    >img{
        width: 30px;
        margin-right:18px;
    }
    >div:nth-child(2){
        @include report-title-common-font();
        font-weight: bold;
        font-size: 20px;
        color: #5A7AB5;}
}

@mixin footer{
    //border-top : 1px solid red;
    display : flex;
    justify-content: space-between;
    position: sticky;

    >div:nth-child(1){
        >img{
            width: 250px;
            height: 20px;
        }
    }
    >div:nth-child(2){
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #C4C4C4;
    }
}

@mixin table-style{
        margin-top: 10px;
        margin-left: 70px;
        width:75%;
        border-bottom: 0.5px solid rgba(196, 196, 196, 0.3);
        text-align: center;
        >thead{
            >tr{
                background-color:#C4C4C4;
                // text-align: left;
                >th{
                    height: 35px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    color: #292D30;
                }
            }
        }
        >tbody{
            >tr{
                // .td-title{
                //     text-align: left;
                // }
                >td{
                    height: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
                
                
            }
        }
}