@import "./mixin.scss";
@import "./variables.scss";

.container{
    @include a4size-container;

    .header{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-align: right;
        color: #C4C4C4;
    }


    .main-title{ // title div
        @include main-title();
    }
    .second-div{ //second div
        margin-top: 50px;
        width: 100%;
        >div:nth-child(1){
            @include small-title();
        }
        >div:nth-child(2){
            display:flex;
            // justify-content:center;
            align-items:center;
            >div{
                margin-top: 18px;
                padding-left: calc(2* #{$second-div-padding-left});

                @include report-title-common-font();
                font-weight: 500;
                font-size: 18px;
                color: #292D30;
            }
        }
    }

    .third-div{//small second title
        margin-top: 50px;
        >div:nth-child(1){
            display:flex;
            >img{
                width:30px;
                margin-right:18px;
            }
            >div:nth-child(2){
                @include report-title-common-font;
                font-weight: bold;
                font-size: 20px;
                color: #5A7AB5;
            }
        }

        >div:nth-child(2){//brain table 
            >div:nth-child(1){ //lobe one
                @include lobe-table-box;
                >div:nth-child(1){
                    @include lobe-img-name;
                }
                >div:nth-child(2){
                    margin-top: 20px;
                    border-left:8px #FF3D3D solid;
                    margin-left: 200px;
                    padding:6px;
                    height: 50px;
                    align-items: center;
                    justify-content: center;
                    >div:nth-child(1){
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 22px;
                        /* identical to box height */
                        color: #292D30;
                    }
                    >div:nth-child(2){
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                    }
                }
            }
            >div:nth-child(2){//lobe two
                @include lobe-table-box;
                >div:nth-child(1){
                    @include lobe-img-name;
                }
                .resultsNumBox{ //results number box
                    @include result-number-box;
                }
                
                
            }
            >div:nth-child(3){//lobe three
                @include lobe-table-box;
                >div:nth-child(1){
                    @include lobe-img-name;
                }
                .resultsNumBox{ //results number box
                    @include result-number-box;
                }
                
                
            }
            >div:nth-child(4){//lobe four
                @include lobe-table-box;
                >div:nth-child(1){
                    @include lobe-img-name;
                }
                .resultsNumBox{ //results number box
                    @include result-number-box;
                }
                
                
            }
            >div:nth-child(5){//lobe five
                @include lobe-table-box;
                >div:nth-child(1){
                    @include lobe-img-name;
                }
                .resultsNumBox{ //results number box
                    @include result-number-box;
                }
                
                
            }


        }
    }

    .colorChart{//color Chart
        margin-top: 30px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display:flex;
        
        >div:nth-child(1){ 
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #000000;          
        }
        >div:nth-child(2){
            width:340px;
            margin-left:50px;
            // display: flex;

            >div:nth-child(1){
                // margin-left: 20px;
                width:340px;
                >img{
                    // margin:1px;
                    width:100%;
                }
            }
            >div:nth-child(2){
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                color: #292D30;
                display:flex;
                justify-content: space-between;
            }
        }
    }

    .footer{
        display : flex;
        justify-content: space-between;
        margin-top: 50px;
        position: sticky;

        >div:nth-child(1){
            >img{
                width: 250px;
                height: 20px;
            }
        }
        >div:nth-child(2){
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #C4C4C4;
        }

        }

    .chartBar{
        margin-bottom: 16px;
        width: 170px;
        height: 8px;
        background-color: rgba(196, 196, 196, 0.5);
        border-radius: 3px;
    }
}

.page2-second-div{
    margin-top: 40px;
    >div:nth-child(1){
        @include small-title();
       
    }
}

.page2-first-content{
    display: flex;
    width: 700px;
    padding: 20px;
    justify-content: space-evenly;
    >div:nth-child(1){
        border : 1px red solid;
    }
    >div:nth-child(2){
        >div:nth-child(1){
            border : 1px blue solid;
            align-items: center;
            justify-content: center;
        }
        >div:nth-last-child(1){
            display: flex;
            justify-content: space-between;   
        }
    }
    >div:nth-child(3){
        >div:nth-last-child(1){
            display: flex;
            justify-content: space-between;   
        } 
    }
}

.page2-second-content{
    >div:nth-child(1){
        margin-left:50px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 1000;
        font-size: 18px;
    }
    >table{
        // border: 1px red solid;
        margin-left: 50px;
        width:80%;
        text-align: center;
        >thead{
            >tr{
                background-color:#C4C4C4;
                // text-align: left;
            }
        }
        >tbody{
            >tr{
                
            }
        }
    }
    >div:nth-child(2){
        margin-top: 10px;
        width: 600px;
        margin-left:50px;
        display :flex;
        justify-content: space-evenly;
        background-color: rgba(196, 196, 196, 0.3);;
    }
    >div:nth-child(3){
        display :flex;
        justify-content: space-evenly;
        border : 1px red solid;
        width: 600px;
        margin-left:50px;
        >div{
            border: 1px orange solid;
           
            >div{
                //display: flex;
                justify-content: space-between;
            }          
            

        }
        // >div:nth-child(1){
        //     border:1px red solid;
        //     display: flex;
        //     justify-content: space-between;
        // }
    }
}

.page4-first-content{

    >div:nth-child(2){//lobe picture table 1
        >div:nth-child(1){
            border: 1px red solid;
            display: flex;
            >div:nth-child(1){//lobe picture table 1
                border: 1px blue solid;
                >div:nth-child(1){
                    display: flex;
                }
                >div:nth-child(2){
                    display: flex;
                }
            }
        }
    }
}

.page4-second-content{

    >div:nth-child(2){
        border: 1px red solid;
        display: flex;
        >div:nth-child(1){//lobe picture table 2
            border: 1px blue solid;
            >div:nth-child(1){
                display: flex;
            }
            >div:nth-child(2){
                display: flex;
            }
        }
    }
}